// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Base reset css
// --------------------------------------------------------------------------

* {
    @include box-sizing( border-box );
}

a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

p:last-child { margin-bottom: 0 }

ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

p{
    color: #000000;
    line-height: 1.5;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-family: "Noto Sans JP", "メイリオ", serif;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
    line-height: 1.5;
    font-family: "Ostrich Sans", serif;
    font-weight: 500;
}
// --------------------------------------------------------------------------
