.select2 {
width:100%!important;
}

.select2-selection--single{
    height: 36px !important;
}

.select2-selection__arrow{
    top: 5px !important;
}

li.select2-results__option{
    min-height: 30px;
}

