// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Buttons
// --------------------------------------------------------------------------

.btn {
    outline: 0; height: 3rem;
    background-color: #fff;
    font-size: 1rem;
    padding: .75rem 1.25rem;
    font-weight: bold;
    border-radius: 2px;
    overflow: hidden;

    @include inline-block-children;

    @include not-disabled {
        @include hover-active-focus {
            outline: 0;
            background-color: #fff;
            @include box-shadow( none );
        }
    }

    & > .icon + span {
        margin-left: .375rem;
    }

    & > .caption {
        display: block;
        position: relative;
        margin-top: 1px;
        @include inline-block-children;
        @include transition( transform .6s $easeOutExpo );

        .loader {
            width: 1.25rem;
            height: 1.25rem;
            position: relative;

            & + span { margin-left: .125rem }
        }

        & ~ .caption-loading {
            margin-top: 1.5rem;
        }
    }

    &.loading {
        & > .caption {
            @include translateY( -3.125rem );
        }
    }


}

.btn-secondary {
    $color: #AACF52;
    border: 0;
    color: #fff;
    background-color: $color;
    border: 1px solid $color;
    @include not-disabled {
        @include hover-focus {
            &.icon-phone::before{
                content: url('../../../public/assets/img/icon-phone-green.png');
                width: 24px;
                height: 20px;
            }
            background-color: lighten( $color, 5% );
        }
        @include active {
            background-color: lighten( $color, 10% );
        }
    }
    &.revert{
        @include not-disabled {
            @include hover-focus {
                color: $color;
                background: #fff;
                border: 1px solid $color;
            }
            @include active {
                color: $color;
                background: #fff;
                border: 1px solid $color;
            }
        }
    }
    &.icon-phone::before{
        content: url('../../../public/assets/img/icon-phone-white.png');
        width: 24px;
        height: 20px;
    }

}
.btn-about {
    padding: 2.5rem 3rem;
    font-size: 1.5rem;
    @include breakpoint-down(sm){
        font-size: 1.25rem;
        padding: 1rem 1.5rem;
    }
    @include breakpoint-down(xs){
        font-size: 1.25rem;
        padding: 2rem 1.5rem;
    }
    @media screen and (max-width: 450px){
        font-size: .875rem;
        padding: 2rem 1.5rem;
    }
    .icon-logo{
        @include breakpoint-down(sm){
            width: 110px;
        }
    }
    .icon-link{
        @include breakpoint-up(sm){
            width: 25px;
        }
    }
}
