// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Title component
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
.title-border-left {
    .border-y {
        width: .3125rem;
        height: 1.5rem;
        margin-top: .1875rem;
        position: absolute;
        .red {
            height: .75rem;
            background: #C9161D;
        }
        .green {
            height: .75rem;
            background: #0C8A3E;
        }
    }
    .title {
        border-bottom: 1px solid #606060;
        padding-left: .75rem;
        padding-bottom: 1rem;
        color: #606060;
        margin-bottom: 0;
    }
    .border-bottom-white {
        border-bottom: 1px solid #fff;
    }
}

.head-title-page {
    text-align: center;
    padding-top: 3.125rem;
    padding-bottom: 5rem;
    color: #606060;

    .title {
        margin-bottom: 0;
        @include breakpoint-down(md){
            margin-bottom: 1rem;
        }
    }
}

@include breakpoint-down( md ){
    .head-title-page {
        // border-top: 1px solid #e2e2e2;
    }
}

.content{
    .content-header{
        &.title-pattern{
            position: relative;
            padding: 7.5rem 0 5rem;
            text-align: center;

            @include breakpoint-down(md){
                padding: 5rem 0 4rem;
            }

            img{
                &.bg-pattern-title{
                    position: absolute;
                    top:0;
                    left: 50%;
                    @include translateX(-50%);
                }
            }

            .title{
                position: relative;
                z-index: 2;
                color: #252525;

                span{

                    &.sub{
                        font-size: 1rem;
                        padding-bottom: .5rem;
                        color:#252525;
                    }
                }

                h2{
                    font-size: 3.25rem;
                    color:#252525;
                    line-height: 1;
                    margin-bottom: 0;
                }

                .border-title{
                    position: absolute;
                    bottom:-1rem;
                    left:50%;
                    @include translateX(-50%);
                    @include flexbox;

                    span{
                        width: 2.5rem;
                        height: 3px;

                        &.red{
                            background: #C9161D;
                        }

                        &.green{
                            background: #0C8A3E;
                        }
                    }
                }
            }


        }
    }
}
