// main: ../main.scss
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Home Banner
// --------------------------------------------------------------------------
.banner-wrapper{
    .wrap-img{
        .img-banner{
            width: 100%;
            height: 1020px;
            object-fit: cover;
            @include breakpoint-down(md){
                height: 850px;
            }
            @include breakpoint-down(sm){
                height: 580px;
            }
            @include breakpoint-down(xs){
                height: 890px;
            }
            @media screen and (max-width: 400px){
                height: 650px;
            }

        }
    }

    .section-top-banner{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 160px;

        .bg-banner{
            padding: 16px;
            background: #3098a8;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);

            .img-banner{
                max-width: 500px;
                margin: 0 auto;
            }
        }
    }

    .section-banner{
        position: absolute;
        top: 100px;
        width: 100%;
        max-width: 58.125rem;

        @include breakpoint-down(md){
            top: 0;
        }

        .img-banner-top{
            @include breakpoint-up(md){
                max-height: 180px;
            }

            @include breakpoint-down(md){
                max-height: 220px;
            }
            @include breakpoint-down(sm){
                height: 126px;
            }
        }
    }

    .banner-caption{
        padding-top: 40px;
        padding-bottom: 40px;
        background: #000000b0;
        position: absolute;
        z-index: 9;
        color: #fff;
        top: 100px;
        text-align: center;
        width: 85%;

        @include breakpoint-down(md){
            top: 0;
            width: 100%;
            bottom: 0;
            height: auto;
        }

        @include breakpoint-down(sm){
            padding-top: 32px;
            padding-bottom: 32px;
        }

        // @include breakpoint-down(xs){
        //     padding: 3rem 0;
        // }

        .banner-sub-title {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: .25rem;
            color: white;
        }

        .banner-title{
            padding-top: 64px;

            @include breakpoint-down(md){

                h1{
                    font-size: 1px;
                }
            }
            @media screen and (max-width:500px){
                padding-top: 32px;
            }
            @media screen and (max-width:380px){
                padding-top: 1rem;
            }
            @media screen and (max-width:320px){
                padding-top: 0;
            }
            span{
                display: inline-block;
                font-size: 4rem;
                padding: 0 1rem;
                line-height: 1.2;

                @include breakpoint-down(md){
                    font-size: 3rem;
                    line-height: 1;
                    padding: 0 4px;
                }
                @include breakpoint-down(sm){
                    font-size: 30px;
                }
                @media screen and (max-width: 320px){
                    font-size: 22px;
                }
            }
        }



        .border-title{
            border-width: 2px;
            border-color: #FFFFFF;
        }

        .banner-desc{
            margin-top: 1rem;
            margin-bottom: 1.25rem;
            // padding-right: 1.5rem;
            @include breakpoint-down(md){
                padding: 0;
            }

            .main-heading, .sub-heading{
                color: #FFFFFF;
                @include breakpoint-down(md){
                    margin-bottom: 1.5rem;
                }
                .sub-main-heading{
                    color: #FFFFFF;
                    font-size: 8.375rem;
                    @include breakpoint-down(md){
                        font-size: 7.375rem;
                    }
                    @include breakpoint-down(sm){
                        font-size: 3.75rem;
                    }
                    @include breakpoint-down(xs){
                        font-size: 2.75rem;
                    }
                }
            }

            .main-heading{
                font-size: 9.375rem;
                @include breakpoint-down(sm){
                    font-size: 3.75rem;
                }
            }

            .sub-heading{
                font-size: 5rem;
                @include breakpoint-down(sm){
                    font-size: 2rem;
                }
            }
        }
        .wrapper-btn-contact{
            margin-top: 32px;
            .btn-contact-form{
                font-size: 1.25rem !important;
                font-weight: 700;
                @include breakpoint-down(md){
                    font-size: 1.25rem !important;
                }
                @include breakpoint-down(sm){
                    font-size: 1rem !important;
                    padding: 2rem 1rem;
                }
            }
            .img-logo{
                width: 145px;
                margin-top: -5px;
                @include breakpoint-down(md){
                    width: 145px;
                }
                @include breakpoint-down(sm){
                    width: 120px;
                }
                @include breakpoint-down(xs){
                    width: 90px;
                }
            }
            .hide-xl{
                @media screen and (min-width: 1400px){
                    display: none;
                }
            }
        }

        .table-box{
            width: 8.125rem;
            margin: 0 0 0 auto;
            border: 1px solid #FFFFFF;
            border-width: 2px;
            @include breakpoint-down(md){
                margin: 0 auto!important;
            }

            td, th{
                padding: .375rem;
            }

            thead th{
                border-bottom: 2px solid #FFFFFF;
            }

            .title-text, .main-text, .sub-text{
                font-weight: bold;
                color: #FFFFFF;
            }

            .title-text{
                font-size: 1.125rem;
            }

            .main-text{
                font-size: 2.375rem;
            }
        }
    }

}

.frame-banner{
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.top-middle{
        @include breakpoint-down(md){
            top: 37%;
        }
        @include breakpoint-down(xs){
            top: 45%;
        }
    }

    .text-banner{
        font-size: 2rem;
        font-weight: 700;
        @include breakpoint-down(md){
            font-size: 1.5rem;
        }
        @include breakpoint-down(sm){
            font-size: 1.25rem;
        }
        @include breakpoint-down(xs){
            font-size: 1.5rem;
        }
        span{
            font-size: 2.5rem;
            color: #FF9708;
            @include breakpoint-down(md){
                font-size: 2rem;
            }
            @include breakpoint-down(sm){
                font-size: 1.75rem;
            }
            @include breakpoint-down(xs){
                font-size: 2rem;
            }
        }
    }
    .text-sub-banner{
        font-size: 1rem;
        font-weight: 700;
        // @include breakpoint-down(md){
        //     font-size: 1rem;
        // }
        // @include breakpoint-down(sm){
        //     font-size: .75rem;
        // }
    }
}
