// main: ../main.scss
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Page footer
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
.footer{
    position: relative;
    z-index: 9;

    .label-copyright{
        padding: 1rem 0;
        color: #FFFFFF;
    }
}

.footer-thanks{
    position: sticky;
    width: 100%;
    text-align: center;
}


.to-top{
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    padding: 3rem 0 1.5rem;
    @include breakpoint-down(sm){
        padding: 3.375rem 0 3.375rem;
    }

    .btn-dark{
        width: 3.125rem;
        height: 3.125rem;
        line-height: 0;
        padding: 1rem;
        background: #000!important;
        position: relative;
        box-shadow: 0rem 3rem 6rem #00000029;
        -webkit-box-shadow: 0rem 3rem 6rem #00000029;
        -moz-box-shadow: 0rem 3rem 6rem #00000029;
        -mz-transition: 0rem 3rem 6rem #00000029;
        -o-transition: 0rem 3rem 6rem #00000029;
    }
}
