// main: ../main.scss
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Page footer
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
.footer{
    position: relative;
    z-index: 9;
    background: #000;
    height: 3.5rem;

    .label-copyright{
        padding: 1rem 0;
        color: #FFFFFF;
    }
}

.footer-thanks{
    position: sticky;
    width: 100%;
    text-align: center;
}
