// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
$header-height: 72px;
$sidebar-width: 220px;
$container-max-width: 1160px;
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@import "outset";
@import "sidebar";
@import "board";
@import "header";
@import "banner";
@import "footer";
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
