.faq-page {
    padding: 4rem 0 8rem;



    .page-body {
        padding: 4rem 0;



        .third-title.faq-category {
            font-family: 'Noto Sans JP';
            font-size: 24px;
            margin-bottom: 24px;
            margin-top: 40px;
            color: #AACF52;
            font-weight: bold;
            padding: 4px 0px 4px 14px;
            line-height: 24px;
            position: relative;



            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                border-radius: 2px;
                background: #AACF52;
                width: 6px;
            }
        }
    }



    .content-btn {
        padding-left: 8rem;
        padding-right: 8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
