.privacy-policy-page {

    .page-body {
        .third-title.faq-category {
            font-family: 'Noto Sans JP';
            font-size: 24px;
            margin-bottom: 24px;
            margin-top: 40px;
            color: #AACF52;
            font-weight: bold;
            padding: 4px 0px 4px 14px;
            line-height: 24px;
            position: relative;



            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                border-radius: 2px;
                background: #AACF52;
                width: 6px;
            }
        }
    }



    .content-btn {
        padding-left: 8rem;
        padding-right: 8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .content-title{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .content-btn{
        padding-left: 8rem;
        padding-right: 8rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .content-list-style{
        list-style: none;
    }

    .delete-marker{
        list-style: none;
    }

    li.sub-numbering-list:before{
        content : "(" counter(item) ")";
        position: absolute;
        counter-increment: item;
        font-weight: bold;
        top: 0;
        left: 0;
    }

    li.circle-numbering:before{
        position: absolute;
        font-weight: bold;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        border:1px solid #707070;
        font-size: 14px;
        text-align: center;
        line-height: 1;
        top: 6px !important;
        padding: 0;
        left: 0;
        top: 0;
    }

    ol.sub-list {
        counter-reset: item 0;
        margin-left: 0;
        padding-left: 0;
    }

    ul.ml-70 {
        margin-left: 3rem;
    }

    .content-title{
        padding: 0rem 1rem;
    }

    .privacy-policy-color p{
        color: #707070 !important;
    }

    .privacy-line-height p{
        line-height: 1.8rem !important;
    }
}
