// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Product page
// --------------------------------------------------------------------------
.product-content{
    .parallax-content{
        position: relative;
        background-position: 50% 50%!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        height: 16rem;
        margin-bottom: 2rem;

        .parallax-overlay{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #0000007a;
            z-index: 1;
            backdrop-filter: blur(.25rem);
            background-blend-mode: normal;
        }

        .parallax-caption{
            text-align: center;
            padding: 5rem 0;
            @include breakpoint-down(sm){
                padding: 5rem 1rem;
            }

            .caption-title, .caption-sub{
                font-size: 1.5rem;
                @include breakpoint-down(sm){
                    font-size: 1.25rem;
                }
                color: #FFFFFF
            }

            .caption-sub{
                font-size: 1rem;
            }

            hr{
                max-width: 8.125rem;
                border-color: #FFFFFF;
                margin-top: .25rem;
                margin-bottom: .25rem;
            }
        }
    }

    .slider-gallery{
        .gallery-main{
            margin-bottom: 1.5rem;

            .img-block{
                max-width: 100%;
                height: auto;
            }

            .elementToFadeInAndOut {
                animation: fadeInOut 4s linear forwards;
            }

            @keyframes fadeInOut {
             0% { opacity:0; }
             100% { opacity:1; }
            }
        }

        .gallery-thumb{
            ul{
                display: block;
                text-align: center;

                li{
                    display: inline-block;
                    width: 8.625rem;
                    height: 4.8125rem;
                    margin: 0 1rem;

                    a{
                        .img-thumb{
                            max-width: 100%;
                            height: 100%;
                            transition: transform .5s ease;
                            -webkit-transition: transform .5s ease;
                            -moz-transition: transform .5s ease;
                            -mz-transition: transform .5s ease;
                            -o-transition: transform .5s ease;

                            &:hover{
                                transform: scale(1.2);
                                -webkit-transform: scale(1.2);
                                -moz-transform: scale(1.2);
                                -mz-transform: scale(1.2);
                                -o-transform: scale(1.2);
                            }
                        }
                    }
                }

                li.active{
                    a{
                        .img-thumb{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }

    .product-detail{
        @include breakpoint-down(sm){
            margin-bottom: 2rem;
        }

        .swiper-container {
          width: 100%;
          height: 300px;
          margin-left: auto;
          margin-right: auto;
        }

        .swiper-slide {
          background-size: cover;
          background-position: center;
        }

        .gallery-top {
          height: 60%;
          width: 100%;
        }

        .gallery-thumbs {
          height: 20%;
          box-sizing: border-box;
          padding: 10px 0;
        }

        .gallery-thumbs .swiper-slide-thumb-active {
          opacity: 1;
        }

        .gallery-thumbs .swiper-slide {
    		height: 100%;
    		opacity: 0.4;

            .wrap-img{
                .img-fit{
                    transition: transform .5s ease;
                    -webkit-transition: transform .5s ease;
                    -moz-transition: transform .5s ease;
                    -mz-transition: transform .5s ease;
                    -o-transition: transform .5s ease;

                    &:hover{
                        transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -mz-transform: scale(1.2);
                        -o-transform: scale(1.2);
                    }
                }
            }
        }

        .gallery-thumbs .swiper-slide-active {
    		opacity: 1;

            .wrap-img{
                .img-fit{
                    &:hover{
                        transform: none!important;
                    }
                }
            }
        }

        .product-img{
            margin-bottom: 1.5rem;
            position: relative;
            width: 100%;
            @include breakpoint-down(sm){
                margin-bottom: .5rem;
            }

            .img-block{
                width: 100%;
                height: 15.8125rem;
                object-fit: cover;
                border: 1px solid #707070;
                @include breakpoint-down(sm){
                    height: 12rem;
                }

                @include breakpoint-up(lg){
                    &.h-500{
                        height: 31.25rem!important;
                    }
                }
            }

            .play-btn-wrap{
                position: absolute;
                top: calc(50% - 3rem);
                bottom: 0;
                right: 0;
                left: 0;
                background: rgba(0,0,0,0.1);
                width: 6.25rem;
                height: 6.25rem;
                border-radius: 50%;
                margin: 0 auto;
                opacity: 0.7;
                cursor: pointer;

                &:hover{
                    opacity: 1;
                    transition: 0.3s linear 0s;
                    background: rgba(0,0,0,0.8);
                }

                .play-btn-icon{
                    position: relative;
                    max-width: 100%;
                    height: 3.75rem;
                    margin: 1.25rem auto;
                    left: 5%;
                }
            }
        }

        .product-relate{
            .wrap-img{
                width: 100%;
                height: 4.8125rem;
                overflow: hidden;
                @include breakpoint-down(sm){
                    height: 3.6875rem;
                }

                @include breakpoint-up(lg){
                    &.h-145{
                        height: 9.0625rem;
                    }
                }

                .img-fit{
                    width: 100%;
                    height: 4.8125rem;
                    object-fit: cover;
                    border: 1px solid #707070;
                    @include breakpoint-down(sm){
                        height: 3.6875rem;
                    }

                    &.img-fit-popup{
                        height: 145px;

                        @include breakpoint-down(sm){
                            height: 3.6875rem;
                        }
                    }
                }
            }
        }

        .product-desc, .product-option{
            text-align: left;

            .text-link{
                text-decoration: underline;
                color: #3098A8;
            }
        }

        .product-option{
            margin-top: 2.5rem;
            border-left: 1px solid;
            padding: 0 .75rem 0;
            @include breakpoint-down(sm){
                margin-top: 2rem;
                padding: 0 1rem 0;
            }

            .text-link{
                text-decoration: none!important;
            }
        }
    }
}

.wrapper-video, .wrapper-gallery, .wrapper-zoom-gallery{
    .modal{
        background: #000000e6;
        @include breakpoint-down(sm){
            padding-right: 0!important;
        }
    }

    .modal-content, .video-content{
        background: transparent;
    }

    .gallery-content{
        position: fixed;
        z-index: 6;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40vw;
        width: 70vw;
        opacity: 1;

        &.gallery-content-modal{
            @include breakpoint-down(md){
                width: 100%;
            }
        }
    }

    .video-content{
        position: fixed;
        z-index: 6;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 45vw;
        width: 80vw;
        opacity: 1;

        .frame-content{
            min-height: 100%;
            position: relative;

            .video{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    .close{
        outline: none;
        position: absolute;
        right: 7.5rem;
        top: 3rem;
        background: rgba(255,255,255,.3);
        z-index: 9999;
        padding: 10px;
        color: #fff;
        opacity: 1;
        border-radius: 50px;
        font-size: 1rem;
        font-weight: 700;


        /* Portrait and Landscape */
        @media only screen
          and (min-device-width: 375px)
          and (max-device-width: 667px)
          and (-webkit-min-device-pixel-ratio: 2) {
              top: 178px;
        }

        /* Portrait and Landscape */
        @media only screen
          and (min-device-width: 375px)
          and (max-device-width: 812px)
          and (-webkit-min-device-pixel-ratio: 3) {
              top: 240px;
        }

        /* Portrait and Landscape */
        @media only screen
          and (min-device-width: 414px)
          and (max-device-width: 736px)
          and (-webkit-min-device-pixel-ratio: 3) {
              top: 200px;
        }

        /* Portrait and Landscape */
        @media only screen
          and (min-device-width: 768px)
          and (max-device-width: 1024px)
          and (-webkit-min-device-pixel-ratio: 2) {
              top: 240px;
        }

        @include breakpoint-down(md){
            right: 1rem;
        }
        @media screen and (max-width: 320px){
            top:145px;
        }


    }

    .product-img{
        margin-bottom: 0!important;

        .img-block{
            height: 100%!important;
            border: 0!important;
        }
    }
}
