// main: ../main.scss
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Zoom page
// --------------------------------------------------------------------------

.zoom-content{
    // copy paste necessary css from toppage
    .executive-list{
        padding: 2rem 0;
        border-bottom: 1px solid #707070;

        .e-profile{
            width: 8.125rem;
            height: 8.125rem;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            border: 2px solid $primary-color;
            position: relative;
            z-index: 9;
            @include breakpoint-down(sm){
                width: 9.75rem;
                height: 9.75rem;
                margin-bottom: 1.5rem;
            }

            .img-block{
                width: 125%;
                transform: translate(-20%, -5%);
            }

            .jp-ban{
                width: 110%!important;
                transform: translate(0%, 0%);
            }
        }

        .e-description{
            text-align: left;

            .d-title{
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 1.25rem;
                font-weight: bold;
                margin-bottom: 1rem;
                @include breakpoint-down(sm){
                    text-align: center;
                }
            }
        }
    }

    .title-zoom{
        margin: auto;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 20px;
        position: relative;
        display: inline-block;
        margin-bottom: 45px;
        }

    .title-zoom:after{
        content: '';
        background: black;
        width: 100%;
        height: 2px;
        display: block;
        }
    .e-profile{
        border: 2px solid #3098a8;
        border-radius: 100%;
        display: inline-block;
        height: 8.125rem;
        overflow: hidden;
        position: relative;
        width: 8.125rem;
        z-index: 9;
        }
    .img-profile{
        transform: translate(-5%,-5%);
        width: 120% !important;
        }
    .e-description{
        text-align: left;
        }
    .d-title{
    font-family: Noto Sans JP,sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    }

    
}

.btn-zoom {
    height: 6rem;

    &::before, &::after{
        height: 5rem;
    }

    span{
        font-size: .75rem;
        display: block;
    }
}

//custom slider
.zoom-content{
    .product-detail{
        .product-img{
            .img-block{
                height: 20rem;

                @include breakpoint-down(md){
                    height: 25rem;
                }

                @include breakpoint-down(sm){
                    height: 12rem;
                }
            }
        }
    }
    .swiper-button-prev, .swiper-button-next{
        top: 45%
    }

    .swiper-button-prev::after{
        content: "";
        background: black url('/wp-content/themes/offshore-labo-web/assets/images/zoom-conference/chevron-left-white.svg') center no-repeat;
        padding: 1.75rem 1rem;
    }

    .swiper-button-next::after{
        content: "";
        background: black url('/wp-content/themes/offshore-labo-web/assets/images/zoom-conference/chevron-right-white.svg') center no-repeat;
        padding: 1.75rem 1rem;
    }
}

.zoom-content-modal{
    .product-detail{
        .product-img{
            .img-block{
                &.h-500{
                    height: auto!important;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    .swiper-button-prev{
        color: gray;
        left: -2%;

        @include breakpoint-down(md){
            left: auto;
        }
    }
    .swiper-button-next{
        color: gray;
        right: -2%;

        @include breakpoint-down(md){
            right: 15px;
        }
    }
}

// booking package calendar style
#booking-package_schedulePage{
    .selectPanelError{
        background-color: #808080!important;
        color: #000000!important;
    }

    #returnToCalendarButton{
        display: block;
        margin: auto;
        background: transparent;
        border: 1px solid #333;
        border-radius: 0;
        box-shadow: inset 0 0 0 0 #000;
        font-size: 1.125rem;
        font-weight: 700;
        height: 5rem;
        padding: 1.5rem 1rem;
        position: relative;
        -mz-transition: .4s;
        transition: .4s;
        width: 28.125rem!important;

        @include breakpoint-down(md){
            width: 100%!important;
        }
        &::after, &::before{
            border-right: 1px solid;
            content: "";
            height: 4rem;
            position: absolute;
            top: .4375rem;
        }
        &::before{
            left: .5rem;
        }
        &::after{
            right: .5rem;
        }
        &:hover{
            color: #FFFFFF;
            box-shadow: inset 28.125rem 0 0 0 #000000!important;
            cursor: pointer;
            @include breakpoint-down(sm){
                color: #000000;
                box-shadow: none!important;
            }
        }
    }
}

#booking-package_inputFormPanel{
    .cartPanel{
        padding-top: 3rem!important;
    }

    .selectedDate{
        z-index: 0!important;
        top: unset!important;
        padding: 0!important;
        border-style: none!important;

        &.booking_completed{
            padding-bottom: 3rem!important;
        }
    }
    .row{
        border-style: none!important;
        border-bottom-width: 0!important;
    }
    .name{
        display: inline-block;
        width: 30%;
        font-weight: 700!important;
        vertical-align: top;

        @include breakpoint-down(md){
            width: 100%;
        }
    }
    .value{
        display: inline-block;
        width: 70%;
        overflow-wrap: anywhere;
        white-space: pre-line;

        @include breakpoint-down(md){
            width: 100%;
            padding-top: 1rem;
        }
    }
    input{
        border: 1px solid #000!important;
        border-radius: 0!important;
        font-size: 1rem;
        height: 48px;
        padding: .375rem .75rem!important;

        &:focus, &:focus-visible{
            border: 1px solid #000!important;
            border-radius: 0!important;
        }
    }
    textarea{
        border: 1px solid #000!important;
        border-radius: 0!important;
        font-size: 1rem;
        height: 10rem;
        padding: .375rem .75rem!important;
    }
    .required::after{
        content: "必須"!important;
        background: #d90707;
        border-radius: .25rem;
        color: #fff!important;
        font-size: .875rem;
        padding: .3125rem .5rem;
        text-align: center;
        float: right;
        margin-right: 2rem;

        @include breakpoint-down(md){
            margin-right: 0;
        }
    }
    .returnButton{
        display: block;
        margin: auto;
        background: transparent;
        border: 1px solid #333;
        border-radius: 0;
        box-shadow: inset 0 0 0 0 #000;
        font-size: 1.125rem;
        font-weight: 700;
        height: 5rem;
        padding: 1.5rem 1rem;
        position: relative;
        -mz-transition: .4s;
        transition: .4s;
        width: 28.125rem!important;
        &::after, &::before{
            border-right: 1px solid;
            content: "";
            height: 4rem;
            position: absolute;
            top: .4375rem;
        }
        @include breakpoint-down(md){
            width: 100%!important;
        }
        &::before{
            left: .5rem;
        }
        &::after{
            right: .5rem;
        }
        &:hover{
            color: #FFFFFF;
            box-shadow: inset 28.125rem 0 0 0 #000000!important;
            cursor: pointer;
            @include breakpoint-down(sm){
                color: #000000;
                box-shadow: none!important;
            }
        }
    }
}

.wrapper-zoom-gallery{
    .modal{
        .modal-dialog{
            transform:none!important;
        }
        &.fade {
            .modal-dialog{
                transition: all .3s ease!important;
            }
        }
    }
}