/*
Author: Grune Technologi Indonesia
Author URI: https://grune.co.jp/
Description: Grune Css Template contents css
*/

/* contacts01 */
#contacts01{
	color: #707070;
	line-height: 35px;
	font-size: 14px;
}

#contacts01 h1{
	color: #000000;
	font-size: 32px;
}
#contacts01 .label{
	font-size: 16px;
	padding: 6.5px 14px;
	margin-right: 16px;
}
#contacts01 .label-required{
	color: #fff;
	background: #FF0000;
}
#contacts01 form{
	padding: 8%;
	background: #F5F5F5;
}
#contacts01 textarea{
	min-height: 237px;
}
#contacts01 .form-check-label{
	padding-left: 0;
}
#contacts01 .form-check-label input{
	display: none;
}
#contacts01 .form-check-label label{
	position: relative;
	padding-left: 41px;
	cursor: pointer;
}
#contacts01 .form-check-label label:before{
	content: '';
	position: absolute;
	left: 0;
	width: 31px;
	height: 31px;
	background: #fff;
	border-radius: 2px;
	-webkit-transition: 0.3s linear 0s;
	-moz-transition: 0.3s linear 0s;
	-ms-transition: 0.3s linear 0s;
	-o-transition: 0.3s linear 0s;
	transition: 0.3s linear 0s;
}
#contacts01 .form-check-label label:after{
	content: '';
	position: absolute;
	left: 11px;
	top: 3px;
	width: 10px;
	height: 22px;
	border: solid #fff;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
	-webkit-transition: 0.3s linear 0s;
	-moz-transition: 0.3s linear 0s;
	-ms-transition: 0.3s linear 0s;
	-o-transition: 0.3s linear 0s;
	transition: 0.3s linear 0s;
}
#contacts01 .form-check-label:hover label:before{
	background: #2462A2;
	opacity: 0.4;
}
#contacts01 .form-check-label:hover input:checked + label:before{
	opacity: 1;
}
#contacts01 .form-check-label input:checked + label:before {
	background: #2462A2;
}
#contacts01 .form-check-label:hover label:after,
#contacts01 .form-check-label input:checked + label:after {
	opacity: 1;
}

#contacts01 .form-check-label  label a{
	text-decoration: underline;
}
#contacts01 .label-type-contact{
	cursor: pointer;
	position: relative;
	padding-left: 30px;
}
#contacts01 .label-type-contact:before{
	position: absolute;
	width: 18px;
	height: 18px;
	content: "";
	background: #fff;
	border-radius: 50%;
	left: 0;
	top: 8px;
}
#contacts01 .label-type-contact:after{
	position: absolute;
	width: 8px;
	height: 8px;
	content: "";
	background: #000;
	border-radius: 50%;
	left: 5px;
	opacity: 0;
	top: 13px;
}
#contacts01 .radio-button input{
	display: none;
}
#contacts01 .radio-button input:checked + .label-type-contact:after{
	opacity: 1;
}
#contacts01 #form-contact .form-tour{
	display: none;
}
#contacts01 #form-contact .form-tour.show{
	display: flex;
}
#contacts01 #form-contact .form-contact.hide{
	display: none;
}
.radio-button label{
	margin-bottom: 0;
}
#btn-src-address{
	background: #B9B9B9;
	cursor: pointer;
	color: #fff;
}
.privacy-rule{
	background: #fff;
	height: 345px;
	overflow-y: auto;
}
@media screen and (max-width: 992px) {
	#contacts01 form {
		padding: 16px;
	}
	#contacts01 form .form-group div{
		margin: 5px 0;
	}
	#contacts01 .content-top{
		padding: 48px 16px !important;
	}
}

/* contacts01 */